/*左边工具栏以及编辑节点的样式*/
@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn-codes.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn-embedded.css";
@import '~diagram-js-minimap/assets/diagram-js-minimap.css';
.containers {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 90%;

  .canvas {
    width: 100%;
    height: 100%;
  }

  .panel {
    position: absolute;
    right: 0;
    top: 20px;
    width: 300px;
  }
  .tool-panel {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 200px;
  }
  .properties-panel {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 250px;
  }

  .bjs-powered-by {
    display: none;
  }

  .toolbar {
    position: absolute;
    top: 20px;
    right: 350px;
    z-index: 1000;

    a {
      text-decoration: none;
      margin: 5px;
      color: #409eff;
    }
  }
}
