@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
$editorTabsborderColor: #121315;
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Source Han Sans CN Light, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  // height: 100vh;
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 100px;
  overflow-y: auto;
}
.MainContent {
  height: 90%;
  background-color: #fff;
  padding: 20px;
  overflow-y: auto;
}
.el-pagination {
  // margin-bottom: 42px;
  margin-top: 10px;
}

.editor-tabs {
  background: $editorTabsborderColor;
  .el-tabs__header {
    margin: 0;
    border-bottom-color: $editorTabsborderColor;
    .el-tabs__nav {
      border-color: $editorTabsborderColor;
    }
  }
  .el-tabs__item {
    height: 32px;
    line-height: 32px;
    color: #888a8e;
    border-left: 1px solid $editorTabsborderColor !important;
    background: #363636;
    margin-right: 5px;
    user-select: none;
  }
  .el-tabs__item.is-active {
    background: #1e1e1e;
    border-bottom-color: #1e1e1e !important;
    color: #fff;
  }
  .el-icon-edit {
    color: #f1fa8c;
  }
  .el-icon-document {
    color: #a95812;
  }
  :focus.is-active.is-focus:not(:active) {
    box-shadow: none;
    border-radius: 0;
  }
}
// home
.right-scrollbar {
  .el-scrollbar__view {
    padding: 12px 18px 15px 15px;
  }
}
.el-scrollbar__wrap {
  box-sizing: border-box;
  overflow-x: hidden !important;
  margin-bottom: 0 !important;
}
.center-tabs {
  .el-tabs__header {
    margin-bottom: 0 !important;
  }
  .el-tabs__item {
    width: 50%;
    text-align: center;
  }
  .el-tabs__nav {
    width: 100%;
  }
}
.reg-item {
  padding: 12px 6px;
  background: #f8f8f8;
  position: relative;
  border-radius: 4px;
  .close-btn {
    position: absolute;
    right: -6px;
    top: -6px;
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    z-index: 1;
    cursor: pointer;
    font-size: 12px;
    &:hover {
      background: rgba(210, 23, 23, 0.5);
    }
  }
  & + .reg-item {
    margin-top: 18px;
  }
}
.action-bar {
  & .el-button + .el-button {
    margin-left: 15px;
  }
  & i {
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}

.custom-tree-node {
  width: 100%;
  font-size: 14px;
  .node-operation {
    float: right;
  }
  i[class*='el-icon'] + i[class*='el-icon'] {
    margin-left: 6px;
  }
  .el-icon-plus {
    color: #409eff;
  }
  .el-icon-delete {
    color: #157a0c;
  }
}

.el-scrollbar__view {
  overflow-x: hidden;
}

.el-rate {
  display: inline-block;
  vertical-align: text-top;
}
.el-upload__tip {
  line-height: 1.2;
}
// .el-table th {
//   background: #f0f2f6;
//   border: 1px solid #ebebeb;
// }
.search-form .el-input,
.el-input--suffix {
  width: 190px !important;
}
.search-form .el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 190px !important;
}
.el-button--success {
  background-color: #1bb7a3;
  border-color: #1bb7a3;
}
.el-button--primary {
  background-color: #009feb;
  border-color: #009feb;
}
.el-button--reset {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
  color: #515c82;
}
.show-search-btn {
  background: #f2f2f2;
  border-radius: 6px;
  font-size: 12px;
  color: #a6a6a6;
  border: none;
  float: left;
}
.search-btn {
  float: right;
}
.form-height {
  height: 50px;
  overflow: hidden;
}
.function-button {
  margin-bottom: 20px;
  float: right;
  margin-top: 10px;
}

// 水平线
.line {
  width: 100%;
  height: 1px;
  background-color: #eaeaea;
  margin: 15px 0;
}
// 操作板块
.SelectBarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  .SelectBar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .Selectli {
      margin-right: 20px;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      align-items: center;
      .SelectliTitle {
        // width: 70px;
        font-size: 14px;
        font-family: Source Han Sans CN Light;
        font-weight: 400;
        color: #4d4d4d;
        margin-right: 10px;
        white-space: nowrap;
      }
      .el-input__inner {
        background-color: #f0f2fa;
      }
      .el-range-input {
        background-color: #f0f2fa;
      }
      .el-select__tags {
        max-width: 220px !important;
      }
      .el-icon-arrow-up:before {
        content: '\e78f';
      }
      // .el-input--prefix .el-input__inner {
      //   padding-left: 10px;
      // }
      // .el-input__prefix {
      //   right: -150px;
      // }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        color: #888;
        font-size: 14px;
      }
    }
  }
  .OpertionBar {
    display: flex;
    align-items: center;
  }
}
//操作按钮板块
.TpmButtonBGWrap {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
//操作按钮
.TpmButtonBG {
  // width: 107px;
  min-width: 84px;
  height: 38px;
  background: #4192d3;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #4192d3 !important;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #fff;
  .text {
    font-size: 14px;
    white-space: nowrap;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #ffffff;
    margin-left: 10px;
    -webkit-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;
  }
}
//TpmPagination
.TpmPaginationWrap {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  .el-pagination {
    display: flex;
    align-items: center;
  }
  // align-items: center;
  .el-pagination .el-pager li {
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin: 0 6px;
    font-size: 12px;
    /*对页数的样式进行修改*/
    // background-color: #10263c;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
  }
  .el-pagination .btn-next {
    /*对下一页的按钮样式进行修改*/
    // background-color: #10263c;
    background-color: #fff;
  }
  .el-pagination .btn-prev {
    /*对上一页的按钮样式进行修改*/
    // background-color: #10263c;

    background-color: #fff;
  }
  .el-pagination .el-pager li:not(.disabled).active {
    /*当前选中页数的样式进行修改*/
    background-color: #4192d3;
    border: 1px solid #4192d3;
    color: #fff !important;
    border-radius: 4px;
  }
  .el-pager li:hover {
    color: #4192d3 !important;
  }
  .el-input--suffix {
    width: 100px !important;
  }
}
// 表格样式
.el-table {
  font-size: 14px;
  font-family: Source Han Sans CN Light;
  font-weight: 400;
  color: #666;
  .el-table__body-wrapper {
    z-index: 2;
  }
  // 滚动条的宽度
  .el-table__body-wrapper::-webkit-scrollbar {
    width: 16px; // 横向滚动条
    height: 16px; // 纵向滚动条 必写
  }
  // 滚动条的滑块
  .el-table__body-wrapper::-webkit-scrollbar-thumb {
    background: #b9b9b9;
    border-radius: 8px;
  }
  .el-table__fixed {
    height: 100% !important; //设置高优先，以覆盖内联样式
  }
  .el-table__fixed-right {
    height: 100% !important; //设置高优先，以覆盖内联样式
  }
  .el-table__fixed-left {
    height: 100% !important; //设置高优先，以覆盖内联样式
    bottom: 20px;
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fff;
  }
  .el-table__body tr:hover > td {
    background-color: transparent !important;
  }

  .el-table-head {
    background: #fff;
    font-size: 16px;
    text-align: center;
  }
  .odd-row {
    background-color: #f3f7f8 !important;
  }

  .even-row {
    background-color: #ffffff !important;
  }
  .first-row {
    background-color: #e3f3ff !important;
    color: #666 !important;
  }
  .statusWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    img {
      width: 23px;
      height: 23px;
      margin-right: 10px;
    }
  }
}
.el-table .cell,
.el-table--border td:first-child .cell,
.el-table--border th:first-child .cell {
  padding: 0 15px;
}
.my-el-dialog {
  min-width: 500px;
  border-radius: 6px;

  .el-dialog {
    margin-top: 16vh !important;
  }
  .el-dialog__header {
    height: 50px;
    padding: 0 0 0 20px;
    background-color: #4192d3;
  }
  .el-dialog__title {
    font-size: 16px;
    font-family: Source Han Sans CN Light;
    font-weight: bold;
    color: #fff;
    line-height: 50px;
  }
  .el-dialog__headerbtn {
    top: 16px;
    .el-dialog__close {
      color: #fff;
    }
  }
  .upDialog-line {
    width: 100%;
    height: 1px;
    border: 1px solid #d9d9d9;
    margin-bottom: 20px;
  }
  .el-tips {
    width: 100%;
    font-size: 14px;
    font-family: Source Han Sans CN Light;
    font-weight: 400;
    color: #808080;
    margin-bottom: 10px;
  }
  .el-dialog__body {
    padding: 10px 20px;
  }
  .el-dialogContent {
    .el-selectLi {
      display: flex;
      align-items: center;
      margin-top: 20px;
      .SelectLiTitle {
        width: 120px;
        text-align: right;
        font-size: 16px;
        font-family: Source Han Sans CN Light;
        font-weight: 400;
        color: #000000;
        margin-right: 20px;
        margin-bottom: 0;
      }
      .el-mark {
        width: 50%;
        height: 200px;
        outline: none;
        resize: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        &::-webkit-input-placeholder,
        &::-webkit-input-placeholder {
          color: #ccc;
          font-size: 14px;
        }
      }
    }
  }
  .dialog-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    .el-button--default {
      width: 122px;
      height: 37px;
      background: #ffffff;
      border: 1px solid #4192d3;
      border-radius: 5px;
      color: #4192d3;
    }
    .el-button--primary {
      width: 120px;
      height: 37px;
      background: #4192d3;
      border-radius: 5px;
      border: 1px solid #4192d3;
      background-color: #4192d3;
    }
    .el-button + .el-button {
      margin-left: 15px;
    }
  }
  .upload-demo {
    margin-top: 10px;
    .el-upload-dragger {
      flex-direction: column;
      display: flex;
      background-color: #f2f6fc;
      border: none;
      align-items: center;
      justify-content: center;
      .upfile_icon {
        margin-bottom: 16px;
      }
    }
  }
  .el-downloadFileBar {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .el-button--primary {
      width: 122px;
      height: 41px;
      line-height: 41px;
      border-radius: 8px;
      margin-bottom: 0;
      padding: 0;
    }
    .el-button--primary.is-plain:active {
      background: #fff;
      border-color: #4192d3;
      color: #4192d3;
    }
    .el-button--primary.is-plain {
      width: 122px;
      background: #fff;
      border-color: #4192d3;
      color: #4192d3;
    }
  }
  .fileInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    .el-button {
      padding: 0;
    }
    .my-export {
      padding: 0;
    }
    .fileTitle {
      font-size: 14px;
      font-family: Source Han Sans CN Light;
      font-weight: 400;
      color: #4d4d4d;
    }
    .selectFile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 132px;
      height: 37px;
      line-height: 37px;
      border-radius: 5px;
      padding: 0;
      margin-left: 10px;
      margin-right: 30px;
      background-color: #4192d3;
      color: #fff;
      cursor: pointer;
      .text {
        font-size: 14px;
        color: #ffffff;
        margin-left: 10px;
      }
    }
    .fileName {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-family: Source Han Sans CN Light;
      font-weight: 400;
      color: #4192d3;
      .upview_fileicon {
        margin-right: 4px;
      }
    }
  }
  .ImportContent {
    justify-content: center;
  }
  .seeData {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .LeftBar {
      display: flex;
      align-items: center;
      .seeDataTitle {
        margin-right: 18px;
        font-size: 14px;
        font-family: Source Han Sans CN Light;
        font-weight: 400;
        color: #4d4d4d;
      }

      .my-el-viewData-select {
        width: 226px;
        height: 37px;
        border-radius: 5px;
        margin-right: 20px;
        /* selecte 框的高度设置，默认是 40px*/
        .el-input__inner {
          height: 37px;
        }
        /* 下面设置右侧按钮居中 */
        .el-input__suffix {
          top: 8px;
        }
        .el-input__icon {
          line-height: inherit;
        }
        .el-input__suffix-inner {
          display: inline-block;
        }
      }
    }
    .exportError {
      width: 155px;
      height: 37px;
      background: #4192d3;
      border-radius: 5px;
      line-height: 37px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      font-family: Source Han Sans CN Light;
      font-weight: 400;
      cursor: pointer;
      .exportError_icon {
        margin-right: 11px;
      }
    }
  }
  .tableWrap {
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
    font-size: 14px;
    font-family: Source Han Sans CN Light;
    font-weight: 400;
    color: #333333;
  }
}
.el-form-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* 自定义el-select样式 */
  .my-el-select {
    width: 226px !important;
    border-radius: 5px;
    margin-right: 20px;
    /* selecte 框的高度设置，默认是 40px*/
    .el-input__inner {
      height: 37px;
      width: 226px !important;
    }
    .el-input--suffix {
      width: 226px !important;
    }
    /* 下面设置右侧按钮居中 */
    .el-input__suffix {
      top: 0px;
    }
    .el-input__icon {
      line-height: inherit;
    }
    .el-input__suffix-inner {
      display: inline-block;
    }
    .el-icon-arrow-up:before {
      content: '\e78f';
    }
  }
  //自定义el-input
  .my-el-input {
    width: 226px !important;
    border-radius: 5px;
    margin-right: 20px;
    .el-input__inner {
      height: 37px;
      width: 226px !important;
    }
    .el-input--suffix {
      width: 226px !important;
    }
  }
  .el-form-item__error {
    bottom: 0% !important;
    left: 0;
    top: 80%;
  }
  .el-form-item {
    // width: 45%;
    margin-bottom: 10px;
  }
  .el-form-item__label {
    white-space: nowrap;
  }
  .my-el-date-editor {
    width: 186px;
    border-radius: 5px;
    height: 32px;
    margin-right: 20px;
    // elment-ui日期选择框的日历图标和清除图标默认样式修改
    .el-input__prefix,
    .el-input__icon {
      line-height: 32px; // 可以通过设置行高改变图标在竖直方向上位置
    }
    .el-input__inner {
      height: 32px;
    }
    .el-input__prefix,
    .el-input__suffix {
      top: 3px;
    }
  }
}
// 表格操作
.table_operation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  .table_operation_submit {
    width: 26px;
    height: 26px;
    border: 1px solid #07c160;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .table_operation_detail {
    width: 26px;
    height: 26px;
    border: 1px solid #3694fe;
    color: #3694fe;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .table_operationText {
    height: 26px;
    border: 1px solid #3694fe;
    color: #3694fe;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
  }
  .table_operation_delete {
    width: 26px;
    height: 26px;
    border: 1px solid #cb2d32;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    color: #cb2d32;
    align-items: center;
    cursor: pointer;
  }
}
.noClick {
  pointer-events: none;
  background-color: #ccc !important;
}
.el-icon-my-down {
  background: url('~@/assets/images/downModel.png') no-repeat;
  font-size: 16px;
  background-size: cover;
}
.el-icon-my-down:before {
  content: '\e611';
  font-size: 16px;
}
.el-icon-odometer:before {
  font-size: 16px;
}
.el-icon-my-checkData {
  background: url('~@/assets/images/checkData.png') no-repeat;
  font-size: 16px;
  background-size: cover;
}
.el-icon-my-checkData:before {
  content: '\e611';
  font-size: 16px;
}
//暂无数据
.null_content {
  width: 204px;
  margin: 100px auto;
  .null_content_tit {
    font-size: 16px;
    color: #999;
    text-align: center;
    letter-spacing: 2px;
  }
}
.el-tooltip__popper.is-dark {
  background-color: #404243;
}
.judgmentType {
  cursor: pointer;
  .judgmentText {
    font-size: 14px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: #666666;
  }
  
}
.tabViewsWrap {
  padding-bottom: 80px;
}
